data/*
*.pkl
*.pyc
__pycache__

wandb/*
RL-Learning/GYM/video-ALE/*
RL-Learning/GYM/comet-config.txt
RL-Learning/GYM/wandb/*
RL-Learning/easy21
RL-Learning/pytorch-soft-actor-critic
RL-Learning/GYM/video-DemonAttack-ram-v5/*
RL-Learning/GYM/sever_exp/6a02ab1a6c7045dbb0fe08717b0b9623.zip
RL-Learning/GYM/sever_exp/97fa22c60e154ecb91b0ef0ba8ebd7c2.zip
RL-Learning/GYM/sever_exp/6744daddce3c4ca0b4c26f587ce04162.zip
RL-Learning/GYM/sever_exp/a7222c48341947ae9a6117378a9f5e68.zip
RL-Learning/GYM-donkey/*
