data/*
*.pkl
*.pyc
__pycache__

wandb/*
RL-Learning/GYM/video-ALE/*
RL-Learning/GYM/comet-config.txt
RL-Learning/GYM/wandb/*
RL-Learning/easy21
RL-Learning/pytorch-soft-actor-critic
RL-Learning/GYM/video-DemonAttack-ram-v5/*
RL-Learning/GYM/sever_exp/*.zip
RL-Learning/GYM-donkey/*
ML-Learning/Other/deap-dataset/model/*.pth
*.log
run-*
logs*
*.pth
ML-Learning/Other/deap-dataset/wandb/*
ML-Learning/Other/deap-dataset/*/data_preprocessed_python/*
ML-Learning/Other/**/data_preprocessed_python/*
**/wandb/**
WESAD/*
ML-Learning/Other/WESAD/WESAD/wesad_readme.pdf
ML-Learning/Other/WESAD/WESAD/**
ML-Learning/Catboost/learn/catboost_info/*/*.tfevents
ML-Learning/Catboost/blog.md
ML-Learning/Catboost.zip
RL-Learning/Actor-Critic/pytorch-A3C
